{
	"singleQuote": true,
	"semi": false,
	"trailingComma": "es5",
	"tabWidth": 2,
	"bracketSameLine": false,
	"arrowParens": "avoid",
	"singleAttributePerLine": true,
	"printWidth": 100,
	"useTabs": true
}
